<footer class="footer">
  <div class="container-fluid bg-dark">

    <div class="container">
      <div class="row">

        <div class="col-8">
          <p class="text-muted">
            Site maintained by <a class="text-light" href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>,
            published and hosted with <a class="text-light" href="https://pages.github.com">GitHub Pages</a>.
          </p>
        </div>

        <div class="col-4">
          <span class="text-muted">Like what you see? <a class="text-light" href="{{ "/feed.xml" | relative_url }}">Subscribe via RSS</a>!</span>
        </div>

      </div>

    </div>
  </div>
</footer>
