<!-- HEADER -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">

  <div class="container">

    <span class="navbar-brand">
      {{ site.title | default: site.github.repository_name }}
    </span>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a href="/posts" class="nav-link">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.github.repository_url }}" title="View on GitHub" class="nav-link">
            <span class="fa fa-github" />
          </a>
        </li>
      </ul>
    </div>

  </div>

</nav>
