$background-color:      lighten(#d7dadb, 15%);
$color:                 #2c3e50;
$body-background-color:  $color;
$body-border-color:     darken($body-background-color, 15%);
$header-color:          darken(#fc4349, 25%);
$accent-color:          darken(#6dbcdb, 20%);
