$background-color:      #d7dadb;
$color:                 #2c3e50;
$body-background-color:  $color;
$body-border-color:     darken($body-background-color, 15%);
$header-color:          darken(#fc4349, 25%);
$accent-color:          #6dbcdb;
